* {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  background: url("./Images/forecast.webp");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

